<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div style="color: red" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div style="color: red" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <div class="username">
                <label> User Name :
                    <input type="text" th:field="*{username}"/>
                    <span  style="color: red"
                        th:if="${#fields.hasErrors('username')} and ${#httpServletRequest.remoteUser}"
                        th:errors="*{username}"></span>
                </label>

            </div>
            <div class="password">
                <label> Password:
                    <input type="password" th:field="*{password}"/>
                    <span style="color: red"
                          th:if="${#fields.hasErrors('password')} and ${#httpServletRequest.remoteUser}"
                          th:errors="*{password}"></span>
                </label>
            </div>
            <div class="submit">
                <input type="submit" value="Sign In"/>
            </div>
        </form>
    </body>
</html>
